.content {
  grid-area: content;
  /* background-color: #E5E5E5; */
  background-color: #F7F7FC;

  display: grid;
  grid-template-areas: 
  "name"
  "blocks";
  grid-template-rows: 100px 1fr;
  /* grid-auto-rows: 320px; */
}

.bg{
  background-color: #F7F7FC;
  height: 100vh;
  top: 0;

  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: -100;
}

.nameBlock {
  width: 100%;
  grid-area: name;
}

.name {
  font-size: 35px;
  text-align: left;
  margin-left: 50px;
}

.block {
  display: inline-block;
  background-color: #ffffff;
  /* margin: 10px; */

  width: auto;
  height: 238px;

  /* Line */
  border: 1px solid #D6D8E7;
  box-sizing: border-box;
  border-radius: 16px;
}

.btn {
  /* display: block; */
  margin-top: 10px;
}

.btnPlus {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  -webkit-transition: 0.4s ease; /* Safari and Chrome */
  -moz-transition: 0.4s ease; /* Firefox 4 */
  -o-transition: 0.4s ease; /* Opera */
}

.btnPlus:hover {
  -webkit-transform: scale(1.1); 
}

.btnPlus:after {
  transition: 0.4s;
}

.blockForBtnPlus{
  margin-top: 20%;
}

.btnEdit {
  display: inline-block;
  width: 50%;
  height: 35px;
  
  background: #624AF2;
  /* Line */
  
  border: 1px solid #D6D8E7;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 16px;
}

.btnDelete {
  display: inline-block;

  /* width: 147.5px; */
  width: 50%; 
  height: 35px;

  background: #EB0055;

  /* Line */
  border: 1px solid #D6D8E7;
  box-sizing: border-box;
  border-radius: 0px 0px 16px 0px;
}

.blocks {
  grid-area: blocks;
  /* text-align: center; */
  width: 90%;
  margin: 0px  auto ;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
}

